body{

    width:650px;

    font-family:Arial;

    padding:10px;

}

h2{

    margin-top:0;

}

#resumo{

    margin:10px 0;

    font-weight:bold;

}

button{

    width:100%;

    padding:8px;

    margin-bottom:10px;

    cursor:pointer;

}

.btnAbrirObra{

    width:auto;

    padding:4px 8px;

    margin-bottom:0;

}

label{

    display:block;

    margin-bottom:4px;

    font-size:12px;

    font-weight:bold;

}

select{

    width:100%;

    padding:8px;

    margin-bottom:10px;

}

table{

    width:100%;

    border-collapse:collapse;

    font-size:12px;

}

th{

    background:#efefef;

}

th,td{

    border:1px solid #ddd;

    padding:4px;

    text-align:left;

}

.responsavel{

    font-weight:bold;

    text-align:center;

}

.linha-douglas{

    background:#cfe5ff;

}

.linha-gabriel{

    background:#d6f2d8;

}

.linha-douglas .responsavel{

    color:#073b6d;

}

.linha-gabriel .responsavel{

    color:#15571a;

}
